.parentAlign{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: floralwhite;
    color: rgb(44, 14, 129);
   
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.parentAlign > *{
     
    text-decoration: none;
    padding: 4px;
   
}

 
.parentAlign  li{
    margin-right: 5px;
    
}
 