.main {
    padding: 4px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}

.main li a {
    border-right: 1px solid white;
    padding: 4px;
    margin-right: 8px;
    color: lawngreen;
}

/* .main + div{
    height: 64vh;
} */